<app-header></app-header>

<div class="d-flex flex-column flex-md-row">
    <app-sidebar2></app-sidebar2>
    <div class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <h1 class="mt-4">Datos del Contrato</h1>

            <form>
                <div class="row">
                    
                    <div class="col-12 col-md-6">
                        
                        <div class="mb-3 mt-4">
                            <label for="m2" class="form-label">M2:</label>
                            <input type="text" class="form-control" id="m2" name="m2" required>
                        </div>

                        
                        <div class="mb-3">
                            <label for="pagoInicial" class="form-label">Pago Inicial:</label>
                            <input type="text" class="form-control" id="pagoInicial" name="pagoInicial" required>
                        </div>

                       
                        <div class="mb-3">
                            <label for="precioVenta" class="form-label">Precio Venta:</label>
                            <input type="text" class="form-control" id="precioVenta" name="precioVenta" required>
                        </div>

                        
                        <div class="mb-3">
                            <label for="inicial" class="form-label">Inicial:</label>
                            <input type="text" class="form-control" id="inicial" name="inicial" required>
                        </div>
                    </div>

                    
                    <div class="col-12 col-md-6 mt-4">
                        
                        <div class="mb-3">
                            <label for="saldo" class="form-label">Saldo:</label>
                            <input type="text" class="form-control" id="saldo" name="saldo" required>
                        </div>

                       
                        <div class="mb-3">
                            <label for="cuotas" class="form-label">Cuotas:</label>
                            <input type="text" class="form-control" id="cuotas" name="cuotas" required>
                        </div>

                       
                        <div class="mb-3">
                            <label for="cuotaMensual" class="form-label">Cuota Mensual:</label>
                            <input type="text" class="form-control" id="cuotaMensual" name="cuotaMensual" required>
                        </div>

                       
                        <div class="mb-3">
                            <label for="comentarios" class="form-label">Comentarios:</label>
                            <textarea class="form-control" id="comentarios" name="comentarios" rows="3"
                                required></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" (click)="onLoginClick()">Ver Estado de Cuenta</button>
            </form>
        </div>
    </div>
</div>
