<app-header></app-header>
<div class="d-flex flex-column flex-md-row">
  <app-sidebar2></app-sidebar2>
  <div class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container p-2">
      <h3>Datos del Contrato</h3>
      <div class="blanco mt-4 p-3 bg-white rounded-4 shadow">
        <div class="table-responsive table-responsive-lg table-responsive-sm table-responsive-md table-responsive-xl">
          <table id="miTabla" class="table table-bordered text-center mt-2">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="header-text">Recibido</th>
                <th scope="col" class="header-text">Descripción</th>
                <th scope="col" class="header-text">Importe</th>
                <th scope="col" class="header-text">Vencimiento</th>
                <th scope="col" class="header-text">Estado</th>
                <th scope="col" class="header-text">Vencido</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01/01/2023</td>
                <td>Pago de servicios</td>
                <td>$100.00</td>
                <td>05/01/2023</td>
                <td>Pendiente</td>
                <td>No</td>
              </tr>
              <!-- Otras filas de datos -->
            </tbody>
          </table>
        </div>
      </div>

      <!-- Botones para exportar a PDF y Excel dentro del mismo contenedor que la tabla -->
      <button id="exportToPDFBtn" class="btn btn-danger mt-3">
        <i class="bi bi-file-earmark-pdf"></i> Exportar a PDF
      </button>
      <button id="exportToExcelBtn" class="btn btn-success ms-2 mt-3">
        <i class="bi bi-file-earmark-excel"></i> Exportar a Excel
      </button>
    </div>
  </div>
</div>