<app-header></app-header>
<div class="d-flex" style=" position: relative; margin-top: -120px; ">
  <div class="container text-center" style="margin-top: 150px;">
    <div class="d-flex justify-content-start mt-4 bg-success col-12 p-3 shadow rounded ">
      <h1 style="padding-bottom: 8px; color: white; font-weight: bold;" class="mb-0">Datos del Cliente</h1>
    </div>
    <div class="row mt-5">
      <div class="col" name="col1">
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/e914/4991/49eef29936f7d047e65f92d05a294235?Expires=1702857600&Signature=cU8D843g~64-eferi1OJHCXrWsZdz~CZuOEyAcIRw2d98WaKwL-FbRLjFLl9DxDkIyDMiw0upV4HBd0U615s~ovhGZ45US6rpxRwAx3qNdrPCIajwQJKLLJtZ6i5YO3SxH1moeGIpVB4Oe-tGyy7srOP316WcrJv3QdaFlqBphYeUBWpS3nY~c7IWjvgY7TCk8yxQozmFLFucN2mP~IelE3-hkdPPirlMJyfG63VPOxnhKep5I41xs~Sg8n6tMt2v9uCMPkj9oKNsKEotsmyNaQHy-zy-hC1o59A4y-8rDy3pvmMQVZLE1KPdhkQljmiLS9kv1wL~gbD~V2Qix89bA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo"  >Codigo de pago: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno" >"    codigo de pago"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/3cb1/afe3/436adcf4cc6dda0116df1a58b208d8ef?Expires=1702857600&Signature=MyBogHTzIEReLC~RI3thjyeOPVKnyEgu1CergbGM-mNlu121~UaxqxznxkN4kzkyKqrsPFsT~Ok~AmnGIlGY53tFh-szaHe1yu6n1DgF~R5tD1R4V0Jraf3RHgWpOnFqmq9F9bdWsQEdR7Z7-0BkXMAZcRR1sG~kOB6cQKzpU92OL4QkP7GRVYXKQBC-Q3EfjZh~MxCmtYQ1RC6kXQBrS8xfbnC0H0QyTVjoq-7a3kIZ2LrDly2vrp2kS3MtOWNw-EWnla7XDhFw6~M5cC7UmFqTQOG~xt38O39u9uuYZmNCusgGGSFzXVo8aDs32mtkdNYU0GVWl8gXyQAQMd3Uvg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo" >
              <div class="d-flex align-items-center codigo" >Nombres:</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"   nombres"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
            <img src="https://s3-alpha-sig.figma.com/img/3cb1/afe3/436adcf4cc6dda0116df1a58b208d8ef?Expires=1702857600&Signature=MyBogHTzIEReLC~RI3thjyeOPVKnyEgu1CergbGM-mNlu121~UaxqxznxkN4kzkyKqrsPFsT~Ok~AmnGIlGY53tFh-szaHe1yu6n1DgF~R5tD1R4V0Jraf3RHgWpOnFqmq9F9bdWsQEdR7Z7-0BkXMAZcRR1sG~kOB6cQKzpU92OL4QkP7GRVYXKQBC-Q3EfjZh~MxCmtYQ1RC6kXQBrS8xfbnC0H0QyTVjoq-7a3kIZ2LrDly2vrp2kS3MtOWNw-EWnla7XDhFw6~M5cC7UmFqTQOG~xt38O39u9uuYZmNCusgGGSFzXVo8aDs32mtkdNYU0GVWl8gXyQAQMd3Uvg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" /><!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Apellido Paterno:</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"  apellido paterno"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/3cb1/afe3/436adcf4cc6dda0116df1a58b208d8ef?Expires=1702857600&Signature=MyBogHTzIEReLC~RI3thjyeOPVKnyEgu1CergbGM-mNlu121~UaxqxznxkN4kzkyKqrsPFsT~Ok~AmnGIlGY53tFh-szaHe1yu6n1DgF~R5tD1R4V0Jraf3RHgWpOnFqmq9F9bdWsQEdR7Z7-0BkXMAZcRR1sG~kOB6cQKzpU92OL4QkP7GRVYXKQBC-Q3EfjZh~MxCmtYQ1RC6kXQBrS8xfbnC0H0QyTVjoq-7a3kIZ2LrDly2vrp2kS3MtOWNw-EWnla7XDhFw6~M5cC7UmFqTQOG~xt38O39u9uuYZmNCusgGGSFzXVo8aDs32mtkdNYU0GVWl8gXyQAQMd3Uvg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Apellido Materno: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"apellido materno"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/23a8/3d3d/20317d79d82ede0209f197f9f4723a1e?Expires=1702857600&Signature=dqUeNOVrXdzFshjPPf3eLfq4Gy7Fnk~GAeZDRh~1iK3znlJz8MMNX~YkkWdHCROhNlnOgpCbx6Xha1ZC3dsGGyJKxW0bgdkFMiCNAfpIdPBDZpKkTizla-Ty~XK22YfKtDMoqQsPcMG-mDVOCaBv-I5pHtFHtQ1mzO3IAS358CbB5TrNOfShD9760NmqcoZj9fjzRTccRUGdbMEpAyfV-pbwFJvycu9wcb6YNvXsYYSR4erTQUDXwFh0B3aHdrGuhwmQwFiJRaUaMLujoWkTBNIHFKGpr3~gXc3n9j~C9ATa14Zgza4thKzpWAhiWp70lfMOzZRR44UWW-aD0YOa9g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Direccion: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"direccion"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/9bdc/4668/66e6db998213f7a1dea4995481d3434a?Expires=1702857600&Signature=gZxylhhPxKZT0CJ-UMHdnwqQLjTgc7mCWml-sF2jYsOw9abVrWeuQZsut7tpHm9IZcQENbXVtiWRgF-6IDEUv5ngeMrA8H5BQFQ6MIcF9pI4mcrWhBVrqpYw3hNtNDIwSuKB4PI9YG2mleoE8TnRAhfZKtWajW3S33ghVBgYRhg5P8egWk0p5QzKwBQalU3sKy~vdHeSknn1PrmkcStJxs5SCaA7OUCFe-rT~0CKbP2yQ0r5ew-fJ1ogpJQgRnd403niyUq0n9co~6cTlvGEUrNX9CMWaZHTSihTsguLs7EFzWIN-WEolHEROoUCGUHsC5P5MTbuQ3CtbAO4cXNp~g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Email: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno ">"email"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/23a8/3d3d/20317d79d82ede0209f197f9f4723a1e?Expires=1702857600&Signature=dqUeNOVrXdzFshjPPf3eLfq4Gy7Fnk~GAeZDRh~1iK3znlJz8MMNX~YkkWdHCROhNlnOgpCbx6Xha1ZC3dsGGyJKxW0bgdkFMiCNAfpIdPBDZpKkTizla-Ty~XK22YfKtDMoqQsPcMG-mDVOCaBv-I5pHtFHtQ1mzO3IAS358CbB5TrNOfShD9760NmqcoZj9fjzRTccRUGdbMEpAyfV-pbwFJvycu9wcb6YNvXsYYSR4erTQUDXwFh0B3aHdrGuhwmQwFiJRaUaMLujoWkTBNIHFKGpr3~gXc3n9j~C9ATa14Zgza4thKzpWAhiWp70lfMOzZRR44UWW-aD0YOa9g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Distrito: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"distrito"</div>
            </div>
          </div>
        </div>
        <br>
        <br>

        <!-- Cierra el primer bloque de columnas -->



      </div>

      <div class="col" name="col2">

        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/3cb1/afe3/436adcf4cc6dda0116df1a58b208d8ef?Expires=1702857600&Signature=MyBogHTzIEReLC~RI3thjyeOPVKnyEgu1CergbGM-mNlu121~UaxqxznxkN4kzkyKqrsPFsT~Ok~AmnGIlGY53tFh-szaHe1yu6n1DgF~R5tD1R4V0Jraf3RHgWpOnFqmq9F9bdWsQEdR7Z7-0BkXMAZcRR1sG~kOB6cQKzpU92OL4QkP7GRVYXKQBC-Q3EfjZh~MxCmtYQ1RC6kXQBrS8xfbnC0H0QyTVjoq-7a3kIZ2LrDly2vrp2kS3MtOWNw-EWnla7XDhFw6~M5cC7UmFqTQOG~xt38O39u9uuYZmNCusgGGSFzXVo8aDs32mtkdNYU0GVWl8gXyQAQMd3Uvg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Asesor: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"Asesor"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/dead/8e86/2c690c237b399cf209d43e9af8d39741?Expires=1702857600&Signature=niwOpeI2Sw~g14~fkMMOSvplnsgIUsW1uaCuK6JKOywrWhR0TILB6xPBKtrMyS35AUed1yz2yucI9IYwXLfvb4BAYsBiz0wGaAtHRDaLdc~go~tsZ6Yx9qI-nzWBHZ2D~pmeqZp5mITRbzRzy162eu6NeaG1wBxwrqCUYMBldLiW9joVkroXFyWTHbAvx3syVHhmMAdSoH2QrTHbIAfqESp2Knkb4WhKNOZZlpY36R5oLQSMGC7cvHDHJZnwrFb3xAybtGV-OGzwEPqgEENzRPW~ywza6u~dqk3ixP-sUDWFcRjGVP3D~YRamSKrwsFQhrAfxLH~uMMG8VcZIVrlwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">MZLTS: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"MzLotes"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/035b/0aba/4622b8a7bddd932a947839ee16c50212?Expires=1702857600&Signature=Jpwgqm197KbYdv8sREtvYoKSdX86qJ~a24buVxLdPQrWurBQtwyDgt47EIOiboM5ygdItVhUL0L~wphtyHFXtybTk-V2SIvdvNRhUrII3WvojsrO5nRRmNzKfN0LfVEx1y5ftvazKC4o7nEDqKGIGj-cohPP2b23MxclYNwE8hu-m2LzVyeRa0v~dq5iALW9ZW7G2owpmPYy4zTD7dU8mnuMx0dMZH9jPv86PsvBitWSnZvMe~tv4Rx0AOp2pLPPsAPp4q~fjVtxObzjbU9GYIEV3xhydIgRSQUJ7JxezuR7h9UYlHSpxKHoBJD37Uip6uQCod-F5-6v7tWozUgHDg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Captacion: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"captacion"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/dead/8e86/2c690c237b399cf209d43e9af8d39741?Expires=1702857600&Signature=niwOpeI2Sw~g14~fkMMOSvplnsgIUsW1uaCuK6JKOywrWhR0TILB6xPBKtrMyS35AUed1yz2yucI9IYwXLfvb4BAYsBiz0wGaAtHRDaLdc~go~tsZ6Yx9qI-nzWBHZ2D~pmeqZp5mITRbzRzy162eu6NeaG1wBxwrqCUYMBldLiW9joVkroXFyWTHbAvx3syVHhmMAdSoH2QrTHbIAfqESp2Knkb4WhKNOZZlpY36R5oLQSMGC7cvHDHJZnwrFb3xAybtGV-OGzwEPqgEENzRPW~ywza6u~dqk3ixP-sUDWFcRjGVP3D~YRamSKrwsFQhrAfxLH~uMMG8VcZIVrlwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">DOC: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"DOC"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/e914/4991/49eef29936f7d047e65f92d05a294235?Expires=1702857600&Signature=cU8D843g~64-eferi1OJHCXrWsZdz~CZuOEyAcIRw2d98WaKwL-FbRLjFLl9DxDkIyDMiw0upV4HBd0U615s~ovhGZ45US6rpxRwAx3qNdrPCIajwQJKLLJtZ6i5YO3SxH1moeGIpVB4Oe-tGyy7srOP316WcrJv3QdaFlqBphYeUBWpS3nY~c7IWjvgY7TCk8yxQozmFLFucN2mP~IelE3-hkdPPirlMJyfG63VPOxnhKep5I41xs~Sg8n6tMt2v9uCMPkj9oKNsKEotsmyNaQHy-zy-hC1o59A4y-8rDy3pvmMQVZLE1KPdhkQljmiLS9kv1wL~gbD~V2Qix89bA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Numero: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"numero"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://s3-alpha-sig.figma.com/img/e0ca/1e90/6339d83ed9f82c4b55385b7d24ac79c2?Expires=1702857600&Signature=DtsJDC0TKt8erE0dRNQSnl8o-qg5TqfTjCj2xp1-uIHgk~2sI3ol88hp8jNFng1LyFz14n7j2mvYTA-NtnjEAE-d4Nib24Bso4uXWHHpBPa7sIJ2lOUu5z8~BYJ93fxXnCg48EWHbSy~iYmuI14nvO0QODtsoCH7hXF2isyS-EK6FKF4RH6N6daXADXhERgvbrV1qfVWnGFvj0Jpdz0bswWmsjJBDkWMJsBKzBmt1QmXmKqUhLU9Qy7OrciRTGripTXukIxvB5ZFM5WiE~lVwfhxhVx~tYE6EUu7WJ~qRdAf7qvqKqf-VgWiB2uCZrmMh4nWCNFMiqQ2mHH3Mt-Kng__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" style="width: 25px; height: 25px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col qvedo">
              <div class="d-flex align-items-center codigo">Celular: </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center relleno">"celular"</div>
            </div>
          </div>
        </div>
        <br>
        <br>

      </div>
    </div>

  </div>
</div>

<div class="container text-center" style="margin-top: 100px;">
  <div class="d-flex justify-content-start mt-4 bg-success col-12 p-3 shadow rounded">
    <h1 style="padding-bottom: 8px; color: white; font-weight: bold;" class="mb-0">Datos del Contrato</h1>
  </div>

  <div class="p-4 d-flex justify-content-center">
    <div class="row align-items-center mt-4">
      <div class="col-md-3 col-12">
        <label for="m2" class="col-form-label codigo">M2:</label>
        <input type="text" id="m2" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
      <div class="col-md-3 col-12">
        <label for="pagoInicial" class="col-form-label codigo">Pago inicial:</label>
        <input type="number" id="pagoInicial" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
      <div class="col-md-3 col-12">
        <label for="precioVenta" class="col-form-label codigo">Precio Venta:</label>
        <input type="number" id="precioVenta" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
      <div class="col-md-3 col-12">
        <label for="inicial" class="col-form-label codigo">Inicial:</label>
        <input type="number" id="inicial" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
    </div>
  </div>


  <div class="p-4 d-flex justify-content-center">
    <div class="row align-items-center mt-4">
      <div class="col-md-4 col-12">
        <label for="m2" class="col-form-label codigo">Saldo:</label>
        <input type="text" id="m2" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
      <div class="col-md-4 col-12">
        <label for="pagoInicial" class="col-form-label codigo">Cuotas:</label>
        <input type="number" id="pagoInicial" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
      <div class="col-md-4 col-12">
        <label for="precioVenta" class="col-form-label codigo">Cuota Mensual:</label>
        <input type="number" id="precioVenta" class="form-control" aria-describedby="passwordHelpInline" style="border: 2px solid gray;">
      </div>
  
    </div>
  </div>

  <div class="p-4 d-flex justify-content-center">
    <div class="row align-items-center mt-4">
      <div class="col-md-12 col-12">
        <label for="comentarios" class="col-form-label codigo">Comentarios:</label>
        <textarea id="comentarios" class="form-control w-100 resize-vertical" aria-describedby="passwordHelpInline" style="border: 2px solid gray;"></textarea>
      </div>  
    </div>
  </div>

  <div class="p-4 d-flex justify-content-center">
    <div class="row g-3 align-items-center mt-4">
      <div class="col-auto">
        <!-- Eliminado: <label for="inputPassword6" class="col-form-label codigo">Comentario:</label> -->
      </div>
      <div class="col-auto">
        <!-- Eliminado: <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"> -->
        <!-- Agregado: -->
        <button type="button" class="btn btn-success mora" (click)="onLoginClick()">Ver Estado de Cuenta</button>
      </div>
    </div>
  </div>





</div>




