<app-header></app-header>
<div class="d-flex" style=" position: relative; margin-top: -120px; ">
  <!-- <div class="Rectangle14"
       ></div>
  <div class="Line6"
       ></div>
  <div class="DatosDelCliente">
    Datos del cliente</div> -->


  <div class="container text-center" style="margin-top: 150px;">
    <div class="d-flex justify-content-start mt-4">
      <h1 style="border-bottom: 2px solid #007bff; padding-bottom: 5px;">Datos del cliente</h1>
    </div> 
    <div class="row mt-5">
      <div class="col" name="col1">
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">codigo de pago</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"codigo de pago"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Nombres</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"nombres"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Apellido Paterno</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"apellido paterno"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Apellido Materno</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"apellido materno"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">direccion</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"direccion"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Email</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"email"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">distrito</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"distrito"</div>
            </div>
          </div>
        </div>
        <br>
        <br>

        <!-- Cierra el primer bloque de columnas -->



      </div>

      <div class="col" name="col2">

        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Asesor</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"Asesor"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">MZLTS</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"MzLotes"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">Captacion</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"captacion"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">DOC</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"DOC"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">numero</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"numero"</div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-auto">
              <!-- Agrega una imagen de referencia pequeña -->
              <img src="https://media.discordapp.net/attachments/1130229490807742734/1182822372693262388/image.png?ex=6586182d&is=6573a32d&hm=3f4b4249748ddb106ad87f789fa57b173d8b342bec210bf18670db2bdb028b8b&=&format=webp&quality=lossless&width=701&height=701" style="width: 15px; height: 15px; margin-right: 5px;" />
              <!-- Fin de la imagen de referencia -->
            </div>
            <div class="col">
              <div class="d-flex align-items-center">celular</div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">"celular"</div>
            </div>
          </div>
        </div>
        <br>
        <br>

      </div>
    </div>

  </div>
</div>

<div class="d-flex" style=" position: relative; margin-top: -210px; ">
  <!-- <div class="Rectangle14"
  ></div>
  <div class="Line6"
  ></div>
  <div class="DatosDelCliente">
   </div> -->

  
