.mt-top{ 
    margin-top: 150px!important;
}

.black{
    color: #000!important;
}

.background {
    background-color: #f6e9cd !important;
    width: 100%;
    height: 100vh; /* vh significa viewport height, que es la altura de la pantalla del usuario */
    position: absolute;
    top: 0;
    left: 0;
}

.background-2{
    background-color: white !important;
}

.b-radius{
    margin-top: 5px !important;
    border-radius: 15px !important;
}