<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #437D28;">
                <div class="featured-image mb-2">
                    <img src="assets/img/logo_empresa.png" class="img-fluid rounded-4" style="width: 500px;">
                </div>
            </div>


            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>¡Bienvenido de Nuevo!</h2>

                    </div>

                    <label for="username">Username:</label>
  <input id="username" [(ngModel)]="username" type="text">

  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="password" type="password">

  <button (click)="login()">Login</button>
  <button (click)="salir()">Salir</button>


                    <!-- Mostrar el mensaje de error -->


                    <div class="input-group mb-5 d-flex justify-content-center">
                        <div class="forgot mt-4">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
