<nav class="navbar navbar-light">
    <img src="assets/images/Vertical_blanco.png" alt="Logo" class="navbar-logo" (click)="onLoginClick()">
    <div class="d-flex align-items-center">
      <img src="assets/img/user.jpg" alt="User Icon" class="navbar-user-icon rounded-circle" >
      <span class="ms-2 cursor-pointer" style="color: white;" >{{ username }}</span>
    </div>
    <div class="d-flex align-items-center">

      <span class="ms-2 cursor-pointer" style="color: white; margin-right: 80px;">Plataforma de Gestion Pagos | Constructora la Venta</span>
    </div>
  </nav>
