<main class="content">
    <section class="part1 mt-4">
        <video id="miVideo" autoplay muted loop>
            <source src="assets/images/video1.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>               
        <div class="accordion accordion-flush custom-accordion mt-3 texto kuasir" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed text-white" type="button" id="acordion1"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        Proyecto Las Praderas Country Club
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="URL_DESTINO_1" class="button-like-link">
                            <img src="assets/images/img1.jpeg" alt="Proyecto 1" class="accordion-img shadow rounded-3">
                        </a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed text-white" type="button" id="acordion2"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        Galeria de Imágenes
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="URL_DESTINO_2" class="button-like-link">
                            <img src="assets/images/galeriaimagen.png" alt="Proyecto 2"
                                class="accordion-img shadow rounded-3">
                        </a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed text-white" type="button" id="acordion3"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        Acceso de Clientes
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="URL_DESTINO" class="button-like-link">
                            <img src="assets/images/acceso_clientes.jpeg" alt="Proyecto 3"
                                class="accordion-img shadow rounded-3">
                        </a>
                    </div>
                </div>
            </div>
            <div class="accordion-item rounded-3">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed text-white" type="button" id="acordion4"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseFour">
                        Contacto
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="URL_DESTINO" class="button-like-link">
                            <img src="assets/images/contacto.jpg" alt="Proyecto 4"
                                class="accordion-img shadow rounded-3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="part3 mb-2" id="pt3">
        <div class="degra text-center p-3">
            <h1 class="titu" style="color: whitesmoke;">¿Quiénes somos?</h1>
        </div>
    </section>

    <section class="part4">
        <div class="container mt-3 ">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 col-md-12 p-3 ">
                    <h3 class="text-center mb-4 titu">Constructora "La Venta"</h3>
                    <p class="texto">Info de la inmobiliaria</p>
                    <p class="texto">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                        software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <ul class="list-unstyled">
                        <li><a href="#" style="color: green;">[Quiénes Somos]</a></li>
                        <li><a href="#" style="color: green;">[Contáctanos]</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12 p-4 h-100">
                    <video width="100%" controls class="shadow rounded-3">
                        <source src="assets/images/vide2.mp4" type="video/mp4">
                        Tu navegador no soporta el tag de video.
                    </video>
                </div>
            </div>
        </div>
    </section>

    <section class="part5">
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-center">
            <div class="col-lg-3 order-2 order-lg-1">
                <article>
                    <img src="assets/images/banner1.png" alt="" class="img-fluid">
                </article>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 mt-lg-0">
                <article>
                    <img src="assets/images/banner2.png" alt="" class="img-fluid">
                </article>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 mt-lg-0">
                <article>
                    <img src="assets/images/banner3.png" alt="" class="img-fluid">
                </article>
            </div>
            <div class="col-lg-3 order-1 order-lg-2 mt-lg-0">
                <article>
                    <img src="assets/images/banner4.png" alt="" class="img-fluid">
                </article>
            </div>
        </div>
    </section>
        

    <section class="part3 mb-2" id="pt2">
        <div class="degra text-center p-3">
            <h1 class="titu" style="color: whitesmoke;">Nuestros Proyectos </h1>
        </div>
    </section>

    <section class="part2 m-1">
        <div class="p-4">
            <div class="row d-flex justify-content-evenly text-center align-items-center ">

                <div class="col-lg-4 col-md-6 mb-4 ">
                    <div class="d-block align-items-center img-container">
                        <div class="col">
                            <img src="assets/images/img1.jpeg" alt="" class="rounded-3 h-75 w-100 img-fluid m-3">
                        </div>
                        <div class="refe text-center">
                            <h5 class="mt-3">Praderas Country Club I Etapa</h5>
                            <p class="font-italic texto">[Pre Venta]</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 ">
                    <div class="d-block align-items-center img-container">
                        <div class="col">
                            <img src="assets/images/img2.jpg" alt="" class="rounded-3 h-75 w-100 img-fluid m-3">
                        </div>
                        <div class="refe text-center">
                            <h5 class="mt-3">Proyecto 2</h5>
                            <p class="font-italic texto">[Pre Venta]</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="d-block align-items-center img-container">
                        <div class="col">
                            <img src="assets/images/img3.jpg" alt="" class="rounded-3 h-75 w-100 img-fluid m-3">
                        </div>
                        <div class="refe text-center">
                            <h5 class="mt-3">Proyecto 3</h5>
                            <p class="font-italic texto">[En Construcción]</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="part6 mb-4" id="pt6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-12 p-4 h-100">
                    <img src="assets/images/ubi_pradera.jpg" alt="" class="img-fluid rounded-3 shadow">
                </div>
                <div class="col-lg-5 col-md-12 p-3 d-flex align-items-center">
                    <div>
                        <h3 class="text-center mb-4 titu">¿Dónde estamos?</h3>
                        <p class="texto">Nos ubicamos a 20 minutos de la Plaza de Armas de Ica. El proyecto se
                            encuentra en el distrito de Santiago, a pocos minutos del centro de la ciudad.</p>
                        <div class="text-center">
                            <a href="https://www.google.com/maps/place/Universidad+Peruana+Uni%C3%B3n/@-11.9890817,-76.8422369,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c263780eec3f:0x3b4ca3412462ae28!8m2!3d-11.989087!4d-76.839662!16s%2Fm%2F0464xs1?entry=ttu"
                                class="btn-ubi btn btn-success btn-sm mt-2 texto rounded-2" target="_blank">
                                Como llegar <i class="fas fa-map-marker-alt ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>