<app-header></app-header>
<div class="d-flex flex-column flex-md-row">
  <app-sidebar2></app-sidebar2>
  <div class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container p-2">
      <h3>Pagos Realizados</h3>
      <div class="blanco mt-4 p-3 bg-white rounded-4 shadow">
        <div class="table-responsive table-responsive-lg table-responsive-sm table-responsive-md table-responsive-xl">
          <table class="table table-bordered text-center mt-2">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="header-text">N°</th>
                <th scope="col" class="header-text">Depositado</th>
                <th scope="col" class="header-text">Descripcion</th>
                <th scope="col" class="header-text">Importe</th>
                <th scope="col" class="header-text">Fecha Pago</th>
                <th scope="col" class="header-text">Forma Pago</th>
              </tr>
            </thead>
            <tbody>
              <!-- Utiliza *ngFor para iterar sobre cobrosPaginados y mostrar la información -->
              <tr *ngFor="let cobro of cobrosPaginados; let i = index">
                <td>{{ (paginaActual - 1) * registrosPorPagina + i + 1 }}</td>
                <td>{{ cobro.recibo }}</td>
                <td>{{ cobro.descripcionrecibo}}</td>
                <td>{{ cobro.pagado }}</td>
                <td>{{ cobro.fechapago }}</td>
                <td>{{ cobro.formapago}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Paginador -->
      <div class="d-flex justify-content-center mt-4">
        <nav>
          <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 1">
              <button class="page-link" (click)="irPagina(paginaActual - 1)" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">Anterior</span>
              </button>
            </li>
            <ng-container *ngFor="let pagina of paginas">
              <li class="page-item" [class.active]="pagina === paginaActual">
                <button class="page-link" (click)="irPagina(pagina)">{{ pagina }}</button>
              </li>
            </ng-container>
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
              <button class="page-link" (click)="irPagina(paginaActual + 1)" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Botones para exportar a PDF y Excel -->
      <div class="mt-3 text-center">
        <button id="exportToPDFBtn" class="btn btn-danger">
          <i class="bi bi-file-earmark-pdf"></i> Exportar a PDF
        </button>
        <button id="exportToExcelBtn" class="btn btn-success ms-2">
          <i class="bi bi-file-earmark-excel"></i> Exportar a Excel
        </button>
      </div>
    </div>
  </div>
</div>
