<app-headeradmin></app-headeradmin>
<div class="d-flex">
    <app-sidebaradmin class="col-2"></app-sidebaradmin>
    <div class="container mt-5">
        <h2 class="mt-2">
            Bienvenido
        </h2>
        <div class="border mb-3"></div>
        <div class="border border-dark border-2 rounded" style="height: 30%;">
            contenido div 1
        </div>
        <div class="d-flex" style="height: 30%;">
            <div class="col border border-dark border-2 rounded me-4 mt-4" style="height: 100%;">
                contenido div2
            </div>
            <div class="col border border-dark border-2 rounded ms-4 mt-4" style="height: 100%;">
                contenido div3
            </div>
        </div>
    </div>
</div>
