<app-header></app-header>
<div class="d-flex flex-column flex-md-row">
  <app-sidebar></app-sidebar>
  <div class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container p-2">
      <h3>Cronograma de Pagos</h3>

      <!-- Tabla de cobros -->
      <div class="blanco mt-4 p-3 bg-white rounded-4 shadow">
        <div class="table-responsive table-responsive-lg table-responsive-sm table-responsive-md table-responsive-xl">
          <table id="miTabla" class="table table-bordered text-center mt-2">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="header-text">N°</th> <!-- Nueva columna para la numeración -->
                <th scope="col" class="header-text">Recibido</th>
                <th scope="col" class="header-text">Descripción</th>
                <th scope="col" class="header-text">Importe</th>
                <th scope="col" class="header-text">Vencimiento</th>
                <th scope="col" class="header-text">Estado</th>
                <th scope="col" class="header-text">Vencido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cobro of cobrosPaginados; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cobro.recibido }}</td>
                <td>{{ cobro.descripcion }}</td>
                <td>{{ cobro.importe }}</td>
                <td>{{ cobro.vencimiento  }}</td>
                <td>{{ cobro.vencido}}</td>
                <td>{{ cobro.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Paginador -->
      <div class="d-flex justify-content-center mt-4">
        <nav>
          <ul class="pagination">

            <!-- Botón "Anterior" -->
            <li class="page-item" [class.disabled]="paginaActual === 1">
              <button class="page-link" (click)="irPagina(paginaActual - 1)" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">Anterior</span>
              </button>
            </li>

            <!-- Números de página -->
            <ng-container *ngFor="let pagina of paginas">
              <li class="page-item" [class.active]="pagina === paginaActual">
                <button class="page-link" (click)="irPagina(pagina)">{{ pagina }}</button>
              </li>
            </ng-container>

            <!-- Botón "Siguiente" -->
            <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
              <button class="page-link" (click)="irPagina(paginaActual + 1)" aria-label="Siguiente">
                <span aria-hidden="true">&raquo;</span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </li>

          </ul>
        </nav>
      </div>

      <!-- Botones para exportar a PDF y Excel -->
      <div class="mt-3 text-center">
        <button id="exportToPDFBtn" class="btn btn-danger">
          <i class="bi bi-file-earmark-pdf"></i> Exportar a PDF
        </button>
        <button id="exportToExcelBtn" class="btn btn-success ms-2">
          <i class="bi bi-file-earmark-excel"></i> Exportar a Excel
        </button>
      </div>
    </div>
  </div>
</div>
