<footer class="bg-dark text-white text-center py-4" id="foot">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div
                class="col-lg-3 col-md-12 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="assets/images/logo-sinfondo.png" alt="Logo de la empresa" class="img-fluid mb-3"
                    style="max-width: 200px;">
                <img src="assets/images/logo-dci.svg" alt="Logo de la empresa" class="img-fluid mb-4"
                    style="max-width: 100px;">
                <div class="mb-1">
                    <a href="#" class="text-white ms-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white ms-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white ms-3"><i class="fab fa-youtube"></i></a>
                    <a href="https://wa.me/998293119" class="text-white ms-3" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="mt-3 texto">
                    <a href="#" class="text-white" title="Boletas Electrónicas">Boletas Electrónicas</a><br>
                    <a href="#" class="text-white" title="Mira a Quién le Compras"> Mira a Quién le Compras</a><br>
                    <a href="#" class="text-white" title="Libro de Reclamaciones"> Libro de Reclamaciones</a><br>
                    <a href="#" class="text-white" title="Políticas de privacidad">Políticas de privacidad</a><br>
                    <a href="#" class="text-white" title="Términos y condiciones">Términos y condiciones</a><br>
                    <a href="#" class="text-white" title="Derechos ARCO">Derechos ARCO</a><br>
                    <a href="#" class="text-white" title="Transparencia">Transparencia</a><br>
                    <a href="#" class="text-white" title="Beneficiario Final"> Beneficiario Final</a>
                </div>
                <p class="mt-3 texto">&copy; 2023 Constructora la Venta S.A.C | Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
